.selektovan{
    margin-top: 5px;
    background-color:salmon;
}
.neselektovan{
    margin-top: 5px;

}
.dugme{
    float :right;
    margin-left: 5px;
}
.priority{
    float: right;
    margin-right:10px;
    color:yellow;
}